.PropertyForm {
    display: flex;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 999px;
    padding: .5em;
}

input {
    border: none;
    outline: none;
    font-size: larger;
    font-weight: bold;
}